/* Main styles */
.mention {
  @apply bg-f1-background-accent rounded-xs px-1.5 py-0.5 font-medium;
}

.mention:focus {
  @apply outline-f1-border-selected-bold outline outline-1 outline-offset-1;
}

.preserved-selection {
  @apply bg-f1-background-selected-bold/20;
}

.enhance-highlight {
  background: linear-gradient(
    90deg,
    #e5561980,
    #a1ade580,
    #e5194380,
    #e5561980
  );
  background-size: 300% 100%;
  animation: enhance-gradient-move 3s linear infinite;
  border-radius: 4px;
}

@keyframes enhance-gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Make all selections transparent */
.rich-text-editor-container *::selection {
  background-color: transparent !important;
}

.rich-text-editor-container::selection {
  background-color: transparent !important;
}

/*********
  tiptap styles
  **********/

.rich-text-editor-container p,
.rich-text-display-container p {
  @apply relative m-0 mb-2;
}

.rich-text-editor-container p:last-child,
.rich-text-display-container p:last-child {
  margin-bottom: 0;
}

.rich-text-editor-container h1,
.rich-text-display-container h1 {
  @apply m-0 mb-3 p-0 text-3xl font-semibold;
}

.rich-text-editor-container h2,
.rich-text-display-container h2 {
  @apply m-0 mb-2.5 p-0 text-2xl font-medium;
}

.rich-text-editor-container h3,
.rich-text-display-container h3 {
  @apply m-0 mb-2.5 p-0 text-lg font-medium;
}

.rich-text-editor-container h4,
.rich-text-display-container h4 {
  @apply m-0 mb-2.5 p-0 text-lg font-medium;
}

.rich-text-editor-container ul,
.rich-text-display-container ul {
  @apply m-0 mb-2.5;
  list-style: disc;
}

.rich-text-editor-container ol,
.rich-text-display-container ol {
  @apply m-0 mb-2.5 list-decimal;
}

.rich-text-editor-container a,
.rich-text-display-container a {
  @apply text-f1-foreground-accent cursor-pointer font-medium no-underline;
}

.rich-text-editor-container strong,
.rich-text-display-container strong {
  @apply font-semibold;
}

.rich-text-editor-container em,
.rich-text-display-container em {
  @apply italic;
}

.rich-text-editor-container u,
.rich-text-display-container u {
  @apply underline;
}

.rich-text-editor-container s,
.rich-text-display-container s {
  @apply line-through;
}

.rich-text-editor-container .f1-bullet-list,
.rich-text-display-container .f1-bullet-list {
  @apply list-disc;
}

.rich-text-editor-container .f1-ordered-list,
.rich-text-display-container .f1-ordered-list {
  @apply list-decimal;
}

.rich-text-editor-container ul,
.rich-text-editor-container ol,
.rich-text-display-container ul,
.rich-text-display-container ol {
  @apply pl-5;
}

.rich-text-editor-container .f1-ordered-list p,
.rich-text-display-container .f1-ordered-list p,
.rich-text-editor-container .f1-bullet-list p,
.rich-text-display-container .f1-bullet-list p {
  @apply ml-2;
}

.rich-text-editor-container li,
.rich-text-display-container li {
  @apply mb-2;
}

.rich-text-editor-container pre,
.rich-text-display-container pre {
  @apply bg-f1-background-secondary relative mx-0 my-4 overflow-x-auto rounded-md p-2 whitespace-pre-wrap;
}

.rich-text-editor-container code,
.rich-text-display-container code {
  @apply text-sm;
  font-family: Menlo, Consolas, Monaco, monospace;
}

.rich-text-editor-container blockquote,
.rich-text-display-container blockquote {
  @apply border-f1-border m-0 mb-2.5 border-0 border-l-4 border-solid pl-4;
}

.ProseMirror:focus,
.rich-text-display-container:focus {
  @apply outline-none;
}

.ProseMirror-selectednode {
  outline: none !important;
}

.rich-text-editor-container hr,
.rich-text-display-container hr {
  @apply border-f1-border my-3 border-0 border-t;
}

.rich-text-editor-container mark,
.rich-text-display-container mark {
  @apply bg-f1-background-promote text-f1-foreground rounded-xs p-0.5;
}

.rich-text-editor-container p:empty::before,
.rich-text-display-container p:empty::before {
  content: "\00a0";
}

.rich-text-editor-container ul[data-type="taskList"],
.rich-text-display-container ul[data-type="taskList"] {
  @apply pl-0;
}

.shadow-editor-tools {
  box-shadow: 0px -4px 20px 0px #0d162514;
}

.scrollbar-macos {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-macos::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollbar-macos::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

.f1-task-item {
  @apply mb-2 flex list-none gap-2;
}

.f1-task-item div {
  @apply flex-1;
}

.f1-task-item input {
  /* Hide native checkbox and style it custom */
  appearance: none;
  -webkit-appearance: none;
  @apply border-f1-border bg-f1-background relative h-5 w-5 flex-shrink-0 cursor-pointer rounded-xs border border-solid transition-colors;
}

.f1-task-item input:hover {
  @apply border-f1-border-hover;
}

.f1-task-item input:checked {
  @apply border-f1-border-selected bg-f1-background-selected-bold;
}

.f1-task-item[data-checked="true"] > div > p {
  @apply text-f1-foreground-secondary line-through;
}

.f1-task-item input:checked::after {
  @apply absolute top-1/2 left-1/2 h-4 w-4 -translate-x-1/2 -translate-y-1/2;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 16.75L17.75 7.25004' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.25 11.75L10.75 16.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.f1-task-item-content {
  @apply min-w-0 flex-1;
  outline: none;
}

.f1-task-item[data-checked="true"] .f1-task-item-content {
  @apply text-f1-foreground-secondary line-through;
}

.f1-task-item-content p {
  @apply m-0;
}

/*
Placeholder component
*/

.tiptap p.is-empty::before {
  @apply text-f1-foreground-tertiary pointer-events-none float-left block h-0 max-w-full text-ellipsis whitespace-nowrap;
  content: attr(data-placeholder);
}

.editor-mood-tracker p {
  @apply m-0;
}

.rich-text-details {
  @apply my-0 flex gap-2 py-1 transition-all;
}

.rich-text-details summary {
  @apply text-lg font-semibold;
}

.rich-text-details summary::marker {
  content: "";
}

.rich-text-details > button {
  @apply bg-f1-background flex h-6 w-6 items-center justify-center rounded-xs;
}

.rich-text-details > button:hover {
  @apply bg-f1-background-secondary;
}

.rich-text-details > button::before {
  @apply text-f1-foreground text-xs;
  content: "\25B6";
}

.rich-text-details.is-open > button::before {
  @apply rotate-90;
}

.rich-text-details > div {
  @apply flex w-full flex-col gap-2;
}

.rich-text-details > div > [data-type="detailsContent"] > :last-child {
  @apply mb-2;
}

.rich-text-details.rich-text-details {
  @apply mb-2;
}

/*
Image resize handle
*/

.image-resizable-wrapper {
  @apply max-w-full;
}

.image-resize-handle {
  @apply z-10;
}
